
body{
    margin:0;
    background-color: cornflowerblue;
}

.sale-format {
    font-size: 24px;
    font-weight: 500;
    color: ivory

} 
.sale-details-container{
    align-items: center;
    width: 600px;
    height: auto;
    padding: 30px
}

.sale-data-format{
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    color: ivory
}
.color{
    color: ivory
}

.display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gs-sale-additem{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
}
.add-item-form{
    background-color: rgb(136, 88, 190);
    padding: 10px;
    color: white
    }

.add-item-name-input{
    padding: 5px;
    width: 250px;
    height: 25px
}
.add-item-desc-input{
    padding: 5px;
    width: 300px;
    height: 40px;
    margin: 10px
}

.add-item-price{
    padding: 5px;
    width: 100px;
    height: 25px;
    margin: 10px
}
.pad-category{
    padding: 20px;
    display: flex;
    
}

.image-props{
    object-fit:contain;
    width:300px;
    height: 300px;

}
.item-format{
    margin-top: 0;
    text-align: left;
    padding-left:15px;
}
.button-margin{
    margin:5px
}