
  .edit-sale-page-container{
    background-image:url('../../images/grass image.jpg');
    background-size: cover; 
    width: auto;
    height: auto;
}
.edit-sale-form-format{
    background-color:  rgb(136, 88, 190);
    width: 500px;
    height: auto;
    text-align: center;
    padding-bottom:20px;
    border: 10px solid white;
    align-items: center;
    color: white;
    font-size: larger;
}

.edit-sale-field{
    margin: 20px;
    width: 300px;
    text-align: left;
}