label {
    color: black;
    font-weight: bold;
    display: block;
    padding: 10px;
  }
  .file-font{
    color:white;
  }
  .item-format{
    margin-top: 0;
    text-align: left;
    padding-left:15px;
}